{%extends 'base.html.twig'%}
{% block title %}
    Welcome!
{% endblock %}
 {% block body %}
     <h1>
         company name:City guide
     </h1>
     <p>
         In this website,
         the tourist spots of a city are introduced and you can get the required information about these spots.
     </p>
 {% endblock %}